<script>
  const res = fetch('https://app.zalify.com/api/popup?app_key={{ shop.permanent_domain | remove: '.myshopify.com' }}')

  .then((res) => res.json())
  .then((data) => {
    const plan = data && data.data && data.data.workspace && data.data.workspace.plan;

    if (!plan || plan.type === 'FREE') {
      document.getElementById('activate-popup').style.display = 'block'
    } else {

      if (Shopify.designMode) {
        const initCrisp = () => {
          if (!window.$crisp) {
            window.$crisp = [];
            window.CRISP_WEBSITE_ID = data.data.crispWebsiteId;

            const script = document.createElement("script");
            script.src = "https://client.crisp.chat/l.js";
            script.async = true;
            document.getElementsByTagName("head")[0].appendChild(script);
            window.$crisp.push([
              "set",
              "session:data",
              [
                "workspace_slug", `shopify-{{ shop.permanent_domain | remove: '.myshopify.com' }}`
              ]
            ]);
          }
        };

        initCrisp();
      }
    }
  })
</script>

<div id="activate-popup">
  {%- if request.design_mode -%}
    <div class="activate-popup">
      <p>
        Upgrade to Zalify paid plans now to unlock the powerful Zalify theme feature and take your website to the next
        level.
        <a
          target="_blank"
          href="https://www.zalify.com?utm_source=theme&utm_medium=madeinbadge&utm_campaign={{ request.host }}"
        >
          Upgrade now
        </a>
      </p>
    </div>
  {%- else -%}
    <a
      class="zalify-badge"
      href="https://www.zalify.com?utm_source=theme&utm_medium=madeinbadge&utm_campaign={{ request.host }}"
      target="_blank"
    >
      <div class="zalify-badge-wrapper">
        <svg width="16" height="16" viewBox="0 0 256 256" fill="currentColor">
          <path d="M116.438 243.262L117.438 104.262H30.4383C8.0131 104.26 0.87502 127.322 16.0174 142.466L116.438 243.262Z" fill="#404040"/>
          <path d="M117.438 104.262H86.4385L116.438 243.262V243.257L117.438 104.262Z" fill="#262626"/>
          <path d="M248.623 111.447L116.438 243.262L116.576 36.6171C116.554 17.003 142.316 5.14747 156.201 19.0317L248.623 111.447Z" fill="#171717"/>
        </svg>
        <svg width="85" height="11" viewBox="0 0 695 98" fill="currentColor">
          <path d="M0.0598034 76V4.24809H22.2734L38.6879 44.5471H40.5554L56.7733 4.24809H79.3801V76H63.457V20.6626L46.7477 61.453H31.4144L14.8033 21.0557V76H0.0598034ZM109.919 77.3761C104.087 77.3761 99.3693 75.8689 95.7654 72.8547C92.2269 69.8405 90.4577 65.5812 90.4577 60.077C90.4577 56.1454 91.4733 52.9345 93.5047 50.4445C95.536 47.889 98.3864 46.0215 102.056 44.842C105.725 43.597 109.952 42.9745 114.735 42.9745H124.466V42.7779C124.466 37.2736 121.714 34.5215 116.21 34.5215C114.768 34.5215 112.868 34.587 110.509 34.7181C108.15 34.7836 105.693 34.8819 103.137 35.0129C100.647 35.0785 98.4192 35.1768 96.4534 35.3078V22.0386C98.7468 21.8421 101.564 21.6782 104.906 21.5472C108.248 21.3506 111.328 21.2523 114.146 21.2523C122.402 21.2523 128.693 23.0215 133.017 26.56C137.408 30.0329 139.603 35.5044 139.603 42.9745V76H127.12V65.8761C125.94 69.6111 123.909 72.4615 121.026 74.4274C118.143 76.3932 114.441 77.3761 109.919 77.3761ZM114.637 66.4658C117.193 66.4658 119.421 65.745 121.321 64.3035C123.221 62.8619 124.27 60.1097 124.466 56.0471V51.7223H114.637C111.885 51.7223 109.755 52.4103 108.248 53.7864C106.807 55.1625 106.086 56.9644 106.086 59.1924C106.086 61.3547 106.807 63.124 108.248 64.5C109.755 65.8106 111.885 66.4658 114.637 66.4658ZM175.159 77.7692C170.114 77.7692 165.658 76.5897 161.792 74.2308C157.991 71.8063 155.01 68.5299 152.847 64.4017C150.685 60.2736 149.604 55.6211 149.604 50.4445V48.1838C149.604 43.0072 150.62 38.3221 152.651 34.1283C154.682 29.9346 157.565 26.6255 161.3 24.201C165.101 21.7765 169.524 20.5643 174.57 20.5643C182.433 20.5643 188.232 23.5458 191.967 29.5087V4.24809H207.792V76H195.309V64.6966C193.54 68.9559 190.919 72.1994 187.446 74.4274C183.973 76.6553 179.877 77.7692 175.159 77.7692ZM179.091 64.5983C182.695 64.5983 185.807 63.3861 188.429 60.9616C191.05 58.5371 192.36 55.0969 192.36 50.6411V47.0044C192.36 44.1867 191.738 41.795 190.493 39.8292C189.248 37.7978 187.609 36.258 185.578 35.2095C183.547 34.1611 181.352 33.6369 178.993 33.6369C174.996 33.6369 171.719 35.0785 169.164 37.9617C166.608 40.8448 165.33 44.6126 165.33 49.265C165.33 53.983 166.608 57.718 169.164 60.4701C171.785 63.2223 175.094 64.5983 179.091 64.5983ZM246.727 77.8675C242.14 77.8675 238.077 77.0812 234.539 75.5085C231.066 73.9359 228.15 71.839 225.791 69.218C223.432 66.5314 221.663 63.5499 220.483 60.2736C219.304 56.9317 218.714 53.5243 218.714 50.0514V48.0856C218.714 44.5471 219.304 41.1069 220.483 37.7651C221.663 34.4232 223.432 31.4417 225.791 28.8207C228.15 26.1996 231 24.1355 234.342 22.6284C237.75 21.0557 241.681 20.2694 246.137 20.2694C251.904 20.2694 256.753 21.5799 260.684 24.201C264.681 26.7566 267.728 30.1312 269.825 34.3249C271.922 38.5186 272.97 43.04 272.97 47.889V53.1967H233.556C234.08 56.8662 235.391 59.7821 237.488 61.9445C239.65 64.0413 242.73 65.0898 246.727 65.0898C249.545 65.0898 251.871 64.5656 253.706 63.5171C255.606 62.4032 256.884 60.9943 257.539 59.2907H271.988C270.808 64.7949 267.958 69.2835 263.436 72.7564C258.98 76.1638 253.411 77.8675 246.727 77.8675ZM246.137 33.0471C242.73 33.0471 239.945 34.03 237.783 35.9959C235.686 37.8961 234.342 40.6483 233.753 44.2522H257.932C257.408 40.6483 256.13 37.8961 254.099 35.9959C252.133 34.03 249.479 33.0471 246.137 33.0471ZM312.678 16.8292C309.729 16.8292 307.534 16.0757 306.093 14.5686C304.717 12.9959 304.029 11.0301 304.029 8.67115C304.029 6.24666 304.717 4.28085 306.093 2.77373C307.534 1.20109 309.729 0.414767 312.678 0.414767C315.627 0.414767 317.789 1.20109 319.165 2.77373C320.607 4.28085 321.328 6.24666 321.328 8.67115C321.328 11.0301 320.607 12.9959 319.165 14.5686C317.789 16.0757 315.627 16.8292 312.678 16.8292ZM306.584 76V33.7352H299.409V22.1369H322.311V76H306.584ZM336.856 76V22.1369H349.339V35.8976C351.501 25.6098 357.563 20.466 367.523 20.466H368.211C374.436 20.466 379.219 22.5301 382.561 26.6583C385.903 30.7209 387.574 36.9132 387.574 45.2351V76H371.847V44.3505C371.847 41.4673 370.996 39.1084 369.292 37.2736C367.588 35.4389 365.295 34.5215 362.412 34.5215C359.463 34.5215 357.071 35.4716 355.236 37.3719C353.467 39.2067 352.583 41.6312 352.583 44.6454V76H336.856ZM418.172 76V63.9103L454.933 18.5985L454.048 17.419H419.45V4.24809H474.591V16.3378L437.732 61.5513L438.616 62.7308H474.591V76H418.172ZM500.585 77.3761C494.753 77.3761 490.035 75.8689 486.431 72.8547C482.892 69.8405 481.123 65.5812 481.123 60.077C481.123 56.1454 482.139 52.9345 484.17 50.4445C486.202 47.889 489.052 46.0215 492.721 44.842C496.391 43.597 500.617 42.9745 505.401 42.9745H515.132V42.7779C515.132 37.2736 512.379 34.5215 506.875 34.5215C505.434 34.5215 503.533 34.587 501.174 34.7181C498.815 34.7836 496.358 34.8819 493.803 35.0129C491.313 35.0785 489.085 35.1768 487.119 35.3078V22.0386C489.412 21.8421 492.23 21.6782 495.572 21.5472C498.914 21.3506 501.993 21.2523 504.811 21.2523C513.068 21.2523 519.358 23.0215 523.683 26.56C528.073 30.0329 530.268 35.5044 530.268 42.9745V76H517.785V65.8761C516.606 69.6111 514.575 72.4615 511.691 74.4274C508.808 76.3932 505.106 77.3761 500.585 77.3761ZM505.303 66.4658C507.858 66.4658 510.086 65.745 511.986 64.3035C513.887 62.8619 514.935 60.1097 515.132 56.0471V51.7223H505.303C502.55 51.7223 500.421 52.4103 498.914 53.7864C497.472 55.1625 496.751 56.9644 496.751 59.1924C496.751 61.3547 497.472 63.124 498.914 64.5C500.421 65.8106 502.55 66.4658 505.303 66.4658ZM544.299 76V15.8463H537.91V4.24809H560.124V76H544.299ZM583.264 16.8292C580.316 16.8292 578.121 16.0757 576.679 14.5686C575.303 12.9959 574.615 11.0301 574.615 8.67115C574.615 6.24666 575.303 4.28085 576.679 2.77373C578.121 1.20109 580.316 0.414767 583.264 0.414767C586.213 0.414767 588.376 1.20109 589.752 2.77373C591.193 4.28085 591.914 6.24666 591.914 8.67115C591.914 11.0301 591.193 12.9959 589.752 14.5686C588.376 16.0757 586.213 16.8292 583.264 16.8292ZM577.17 76V33.7352H569.995V22.1369H592.897V76H577.17ZM608.622 76V34.7181H602.233V23.2181H608.622V21.6455C608.622 9.39195 615.6 3.26519 629.558 3.26519H636.438V15.06H628.87C625.135 15.06 623.267 16.9275 623.267 20.6626V23.2181H637.224V34.7181H623.267V76H608.622ZM656.53 74.8205L640.017 22.1369H655.842L667.735 62.5342H669.701L679.53 22.1369H694.47L679.431 80.3248C678.318 84.5185 676.81 87.8604 674.91 90.3504C673.075 92.8404 670.585 94.6096 667.44 95.6581C664.36 96.772 660.461 97.329 655.744 97.329H646.111V83.9615H657.316C659.806 83.9615 661.739 83.4701 663.115 82.4872C664.557 81.5043 665.605 79.735 666.261 77.1795L666.752 74.8205H656.53Z" fill="#262626"/>
        </svg>
      </div>
    </a>
  {%- endif -%}
</div>
